
.App {
  text-align: center;
  background-color: rgb(246, 77, 39);
  height: 100vh;
}

.container{
width: 50%;
margin: auto;
}

.header{
  height: 80px;
  background-color: rgb(15, 4, 38);
  display: flex;
  justify-content: center;
  align-content: center;
}

.title{
  padding: 0;
  color: azure;
}

.todoItem{
  color:rgb(15, 4, 38);;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 300px;
}